body {
    font-size: 18px;
}

main {
    width: 95%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

/*nav {
    margin-bottom: 0;
    justify-content: space-around;
}

nav ul li {
    margin: 0 3rem;
}

header, main {
    padding: 1rem;
}

hr {
    margin: 2rem 0;
    border: 1px groove black;
}

*/
